.DS_Store
thumbs.db
desktop.ini
plugins/ios.json
plugins/android.json
plugins/browser.json
!/plugins/cordova-background-geolocation
www/js/includes/local.inc.js
node_modules
/node_modules
platforms
/platforms
plugins
/plugins
/package.json
/package-lock.json
/platforms/ios/Driver/Resources
/platforms/ios/Driver/Resources/GoogleService-Info.plist
