.toolbar {
    /*background: rgba(202, 217, 248, 0.8);*/
    background: linear-gradient(to right, #2e2e2e 0%, #2e2e2e 50%, #393939 50%, #393939 100%);
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #000;
    height: 50px;
}
.toolbar-with-buttons {
    background: #393939 !important;
    height: 63px !important;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
.toolbar-rodape {
    position: absolute;
    bottom: 0px;
}
.toolbar a.link {
    color: #001A61;
    border: 0px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    height: 100%;
}

.toolbar a.link img {
    vertical-align: middle;
}

.toolbar .div-botao {
    /* background-color: rgba(223, 234, 252, 0.8); */
    width: 50px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.toolbar-inner {
    padding: 0px;
}

.toolbar-inner div span {
    color: #666;
}

.tabbar-full-label {
    justify-content: center !important;
    -webkit-justify-content: center !important;
}

.tabbar-full-label span {
    font-size: 17px !important;
}

.tabbar-active span{
    color: #10d4e5 !important;
}

.tabbar-inactive span{
    color: #888 !important;
}

.toolbar a.border-right-tab {
    border-right: 2px groove #10d4e5;
}

.toolbar .border-top-tab {
    border-top: 2px groove #10d4e5;
}

.tab-link {
    background-color: 393939;
    color: #18a9b6;
}

.tab-link span {
    color: #18a9b6;
    font-size: 13px !important;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
}

.tab-link img {
    margin-top: 3px !important;
}


